{
    "pinboard":
    {
        "account": "your_account",
    },
    "newsletter": "http://community.livejournal.com/giles_watchers/data/atom",
    "categories":
    {
        "order:" ["fiction", "ficlets", "art", "prompts", "misc", "rpgs", "sog"],
        "titles"
        {
            "fiction": "Fiction",
            "ficlets": "Drabbles &amp; Ficlets",
            "art": "Fan Art",
            "misc": "Misc",
            "rpgs": "RPGs",
            "sog": "Summer of Giles",
            "prompts": "Prompts &amp; Contests"
        }
    }
}
