%div.span-24
	%br
	%h2
		Bookmarking help.
%div.span-8
	%p
		Most newsletter items come from these sources:
		%br
		<a href="http://giles-posters.livejournal.com/friends">Giles-posters friends list</a>
		%br
		<a href="http://www.fanfiction.net/tv/Buffy_The_Vampire_Slayer/10/0/1/1/0/226/0/0/0/1/">FF.net stories with Giles</a>
		%br
	%p	
		Scan those sources for items of interest to Giles fans and 
		%a{ :href => 'http://pinboard.in/howto/#saving	'} bookmark 
		them on 
		%a{ :href => 'http://pinboard.in' } Pinboard.
		You should be logged into the 
		%a{ :href => "http://pinboard.in/u:#{@account}"}= @account
		Pinboard account.
	%p
		The <i>title</i> should be the title and chapter number for fic and fanart, the title for contests or ficathons, or any other clear name for the item. The <i>description</i> should contain information such as the pairing and rating of a fic, whether a piece of fanart is worksafe, or if any warnings apply.
	%p
		Each item needs at least two tags: one to identify the poster or community the item comes from, and one to specify to which category the item belongs in the newsletter.
%div{ :class => "span-16 last" }
	%div.span-8
		%h3
			Source tags
		%div.span-4
			Livejournal poster
			%br
			Livejournal community
			%br
			Dreamwidth poster
			%br
			Dreamwidth community
			%br
			AO3 pseudonym
			%br
			Insanejournal poster
			%br
			Insanejournal community
		%div{:class =>"span-4 last"}
			<span class="example">poster:<i>username</i></span>
			%br
			<span class="example">comm:<i>commname</i></span>
			%br
			<span class="example">dwposter:<i>username</i></span>
			%br
			<span class="example">dwcomm:<i>commname</i></span>
			%br
			<span class="example">ao3:<i>pseud</i></span>
			%br
			<span class="example">ijposter:<i>username</i></span>
			%br
			<span class="example">ijcomm:<i>commname</i></span>
			%br
	%div{ :class => "span-8 last" }
		%h3
			Category tags
		%div.span-4
			- @order.each do |tag|
				#{@categories[tag]}
				%br
		%div{:class =>"span-4 last"}
			- @order.each do |tag|
				<span class="example">cat:#{tag}</span>
				%br
	%div{ :class => "span-16 last", :style => "padding-top: 2em" }
		%h3
			Series tags
		%p
			Items in a series, such as a multi-chapter fic, can be connected into a single entry in the newsletter by a <span class="example">series:</span> tag. Invent a meaningful tag for each series. Use one word from the title or join multiple words together with hyphens. (Pinboard tags can't have spaces in them.) Examples:
		%p
			<span class="example">series:teatime</span>
			%br
			<span class="example">series:band-candy</span>
			%br
			<span class="example">series:giles-is-awesome</span>
			%br
		%p
			Create series pinboard bookmarks in the order you want them to appear in the newsletter. That is, if you want chapters 5, 6, and 7 of a series to appear in the newsletter, bookmark chapter 5 first, then chapter 6, and so on.
%div.span-24
	%p
		%a{:href => "/", :class => "emphasized" }
			&lt; Return to newsletter generator.